:root {
    --text-emphasis-color: rgba(255, 255, 255, 0.87);
    --text-medium-color: rgba(255, 255, 255, 0.6);
    --text-disabled-color: rgba(255, 255, 255, 0.38);

    --text-color: var(--text-medium-color);
    --text-color-secondary: var(--text-disabled-color);

    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
    line-height: 1.5;
}

body {
    height: 100vh;
    margin: 0;

    background-color: var(--surface-0);
}

.card-block {
    white-space: nowrap;
    padding: 0.5px 3px;
    border-radius: 4px;
    border: 0.5px solid var(--surface-400);
    background: var(--surface-300);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.page-card {
    width: 100%;
    max-width: 720px;
    margin: 10px auto;
}

.text-emphasis {
    color: rgba(255, 255, 255, 0.87);
}

.text-disabled {
    color: var(--text-disabled-color);
}

.p-card {
    border: 1px ridge var(--surface-200);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35), 1px 1px 3px rgba(0, 0, 0, 0.2),
        1px 1px 4px rgba(0, 0, 0, 0.15);
}

.p-card-content {
    padding: 0 !important;
}

.p-fieldset {
    background: none;
    margin-top: 20px;
}

.p-fieldset .p-fieldset-legend {
    background: none;
    padding: 0px 10px 0 10px;
}

.p-fieldset .p-fieldset-content {
    padding: 0;
}

a .text-disabled:hover {
    color: var(--primary-color) !important;
}

a:link,
a:visited {
    color: rgba(255, 255, 255, 0.87) !important;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}
